/* content */
/* body {
  background-color: #aaf0d1;
  display: flex;
  justify-content: center;
  color: #d1aaf0;
  font-family: sans-serif;
} */

/* tracker */
body {
  background-color: #ccddee;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
}
